*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(168, 72, 80);
	text-align: center;
	font-family: "Times New Roman", serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-container {
	margin: 10px;
	font-size: 25px;
}

.new-button {
	width: 75px;
	height: 75px;
	border: 3px solid black;
	border-radius: 50%;
	background: #ee9145;
	margin-top: 20px;
	cursor: pointer;
}

.book-container {
	display: flex;
	justify-content: center;
	margin: 0px;
	flex-wrap: wrap;
	max-width: 75%;
}

.book {
	font-size: 20px;
	margin-top: 25px;
	border: 3px double black;
}

.book > * {
	margin: 10px 35px 0 35px;
}

.read-container > button {
	width: 75px;
	position: relative;
	left: 30px;
	display: block;
	background: rgb(216, 88, 88);
	font-weight: 500;
}

#read {
	margin-top: 7px;
	margin-left: 10px;
	transform: scale(1.3, 1.3);
}

.read-container {
	display: flex;
	justify-content: center;
}

.new-book-container {
	position: fixed;
	top: 50%;
	left: 50%;
	border: 2px solid black;
	padding: 50px;
	font-size: 25px;
	font-weight: 500;
	width: 350px;
	height: 350px;
	margin-left: -175px;
	margin-top: -175px;
	background-color: rgb(192, 52, 64);
	border-radius: 5px;
}

.new-book-container > * > * {
	padding: 5px;
}

.hidden-book {
	display: none;
}

.hidden-background {
	opacity: 0.3;
}

#book-title {
	width: 200px;
	background-color: #a8dadc;
	margin-bottom: 10px;
	border-radius: 2px;
}

#author {
	width: 200px;
	background-color: #a8dadc;
	margin-bottom: 10px;
	border-radius: 2px;
}

#pages {
	width: 65px;
	background-color: #a8dadc;
	margin-bottom: 10px;
	border-radius: 2px;
}

#hasRead {
	transform: scale(1.4, 1.4);
}

.add-book-button {
	width: 100px;
	height: 40px;
	margin-top: 10px;
	font-size: 15px;
	background-color: #a8dadc;
	border-radius: 5px;
}
